<footer class="border-top footer text-muted text-center">
    <div class="container">
        &copy; @DateTime.Now.Year - CensoApp - <a asp-area="" asp-controller="Participante" asp-action="Index">Home</a>
    </div>
</footer>