<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Participante" asp-action="Index"><i class="fas fa-home"></i> Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Participante" asp-action="Index"><i class="fas fa-chart-bar"></i> Censo</a>
                    </li>
                </ul>
                <div class="navbar-nav justify-content-right">
                    <div class="navbar-item">
                      <a href="https://www.instagram.com/onerd_/?hl=es-la" class="btn btn-light">
                         <i class="fab fa-instagram"></i> 
                         <span>Instagram</span>
                         </a> 

                         <a href="https://es-la.facebook.com/Onedominicana/" class="btn btn-light">
                         <i class="fab fa-facebook-f"></i> 
                         <span>Facebook</span>
                         </a>   
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
