@model CensoApp.Dtos.ParticipanteDto 
@{
    ViewData["Title"] = "Muchas gracias por participar";
}
<div class="container text-center">
    <h1 class="card-title">@ViewData["Title"]</h1>
    <h4 class="card-subtitle">Tus datos han sido guardados satisfactoriamente.</h4>
    <hr />
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Index">Retroceder</a> |
        <a class="btn btn-success" asp-action="GetAll">Mostrar listado</a>
    </div>
</div>


