
@{
    ViewData["Title"] = "Advertencia";
}
<div class="container">
    <h1 class="card-title">@ViewData["Title"]</h1>
    <h4 class="card-subtitle">Lo sintimos, esta cedula ya existe.</h4>
    <br />
    <a asp-action="Index" class="btn btn-warning">Back to home</a>
</div>



